<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="lib/ion-md-input/css/ion-md-input.min.css" rel="stylesheet">
    <link href="lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <script src="lib/ionic.cloud.min.js"></script>
    <script src="lib/ionic-material/dist/ionic.material.min.js"></script>
    <script src="lib/ion-md-input/js/ion-md-input.min.js"></script>
    <script src="lib/bluebird.min.js"></script>
    <script src="lib/angular-messages/angular-messages.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6IqJHBIgCRIlDMg6yDtYhh40c0oKJJe8">
    </script>
    <script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyBkMbsEi2rU7ocRJTfQjwUBwbvrxrUA90A",
        authDomain: "pruebatecnica-7945a.firebaseapp.com",
        databaseURL: "https://pruebatecnica-7945a.firebaseio.com",
        storageBucket: "pruebatecnica-7945a.appspot.com",
        messagingSenderId: "500382734360"
    };
    firebase.initializeApp(config);
    </script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</head>

<body ng-app="app" id="cuerpo">
    <ion-header-bar class="bar bar-light">
        <h1 class="title">Prueba Tecnica</h1>
    </ion-header-bar>
    <ion-content ng-controller="formCtrl">
        <!--Form-->
        <form name="myForm">
            <ion-list>
                <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : myForm.username.$invalid, 'no-errors' : myForm.username.$valid}">
                    <span class="input-label">Nombre y Apellidos</span>
                    <input name="username" type="text" placeholder="Nombre y Apellidos" ng-model="user.name" ng-minlength="8" ng-maxlength="25" required/>
                </label>
                <div class="error-container" ng-show="myForm.username.$error" ng-messages="myForm.username.$error">
                    <div ng-messages-include="error-list.html"></div>
                </div>
                <label class="item item-input item-floating-label" ng-class="{ 'has-errors' : myForm.email.$invalid, 'no-errors' : myForm.email.$valid}">
                    <span class="input-label">Email</span>
                    <input name="email" type="email" placeholder="Email" ng-model="user.email" required/>
                </label>
                <div class="error-container" ng-show="myForm.email.$error" ng-messages="myForm.email.$error">
                    <div ng-messages-include="error-list.html"></div>
                    <div ng-init="isChecked = false">
                        <ion-checkbox ng-model="nacimiento.valor">¿Naciste en Colombia?</ion-checkbox>
                        <div class="content-area sample-show-hide" ng-show="nacimiento.valor">
                            <ion-list>
                                <label class="item item-input item-select">
                                    <div class="input-label">
                                        Departamento
                                    </div>
                                    <select name="mySelect" id="mySelect" ng-options="option.name for option in options.availableOptions track by option.id" ng-model="options.selectedOptionDep"></select>
                                </label>
                            </ion-list>
                            <ion-list>
                                <label ng-if="options.selectedOptionDep.id == 1" class="item item-input item-select">
                                    <div class="input-label">
                                        Ciudad
                                    </div>
                                    <select name="selectAntioquia" id="selectAntioquia" ng-options="ciudad.name for ciudad in options.availabeCitiesAntioquia track by ciudad.id" ng-model="options.selectedOptionCityAnt"></select>
                                </label>
                                <label ng-if="options.selectedOptionDep.id == 2" class="item item-input item-select">
                                    <div class="input-label">
                                        Ciudad
                                    </div>
                                    <select name="selectCundi" id="selectCundi" ng-options="ciudad.name for ciudad in options.availabeCitiesCundiamarca track by ciudad.id" ng-model="options.selectedOptionCityCund"></select>
                                </label>
                            </ion-list>
                        </div>
                    </div>
                    <div class="item item-divider">
                        Foto (Opcional)</div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col"> <img id="myImage" ng-if="myimage.state" class="item-profile" ng-src="{{myimage.src}}" /></div>
                        <div class="col" /></div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <button class="button  button-block button-positive icon ion-camera" ng-click="takePic()"></button>
                    </div>
                    <div class="col text-center">
                        <button class="button  button-block button-calm icon ion-folder" ng-click="pickImage()"></button>
                    </div>
                    <div class="col text-center">
                        <button ng-if="myimage.state" class="button button-block button-assertive icon ion-trash-a" ng-click="deletePhoto()"></button>
                    </div>
                </div>
            </ion-list>
            <!--All the form-->
            <button class="button button-full button-raised button-assertive icon ion-checkmark-round ink-dark" ng-disabled="myForm.$invalid" ng-click="submit()"> Enviar</button>
        </form>
    </ion-content>
    <!--Validations-->
    <script id="error-list.html" type="text/ng-template">
        <div class="error" ng-message="minlength">
            <i class="ion-information-circled"></i> Este campo debe contener como minimo 6 caracteres!
        </div>
        <div class="error" ng-message="maxlength">
            <i class="ion-information-circled"></i> Este campo debe contener como maximo 25 caracteres!
        </div>
        <div class="error" ng-message="email"> 
            <i class="ion-information-circled"></i> Este campo debe ser un email valido.
        </div>
    </script>
    <!--Modal-->
    <script id="my-modal.html" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar class="bar-positive">
                <button class="button button-icon icon ion-android-close"  ng-click="modal.hide()"></button>
                <div class="h1 title">Información</div>
            </ion-header-bar>
            <ion-content class="padding">
                <ion-list>
                    <a class="item item-thumbnail-left">
                        <img ng-if="u.image" ng-src="{{uimage}}">
                        <img ng-if="!u.image" ng-src="img/people.jpg">
                        <h2>{{u.username}}</h2>
                        <h2>Correo: {{u.email}}</h2>
                        <div ng-if="u.born">
                            <p>Nació en Colombia: SI</p>
                            <p>Departamento: {{u.country}}</p>
                            <p>Ciudad: {{u.city}}</p>
                        </div>
                        <div ng-if="!u.born">
                            <p>Nació en Colombia: NO</p>
                        </div>
                    </a>
                </ion-list>
            </ion-content>
        </ion-modal-view>
    </script>
</body>

</html>
