/* Empty. Add your own CSS if you like */
.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.content-area {
  margin-top: 10px;
  padding: 10px;
}

.sample-show-hide {
  transition: all linear 0.5s;
}
.sample-show-hide.ng-hide {
  opacity: 0;
}